@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: white;
  font-family: 'Clash Display', sans-serif;
}

.main-heading{
  background-image: url(./assets/blur4.png);
  background-size: '225px 200px';
   background-repeat: 'no-repeat';
   background-position: 'center-top'
}

